/* CSS Document */

table#formulario {
	font-size: 14px;
	border: solid 1px #000000;
}

table#formulario th {
	font-size: 14px;
	font-weight: bold;
	border-bottom: solid 1px #000000;
}

table#formulario caption {
	font-size: 20px;
}

table#formulario caption#aviso {
	font-size: 16px;
	color : #333333; 
	background-color: #f1e8e6;
	border: 1px solid #c24733;
}

legend {
	color: #FFFFFF;
}

.disponible{
	background-color:#006633;
	border: 3px solid #003300;
	color:#FFFFFF;
}

.noDisponible{
	background-color:#DD0000;
	border: 2px solid #880000;
	color:#FFFFFF;
}

#disponibilidad{
	width:210px;
	text-align: center;
}