body{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0px; padding:0px;
}
h1,h2,h3,h4,hr{margin:0px; padding:0px; margin-bottom:4px;}
td{
	white-space:nowrap;
	padding:4px;
}
th{
	background-color:#CCC;
	font-weight:bold;
	white-space:nowrap;
	padding:4px;
}
.tt tr th{
	text-align:right;
	background-color:#0254A8;
	color:#FFF;
	vertical-align:top;
}
.tt #aviso{
	background:#FF9;
	color:#000;
	padding:6px;
	border:2px #C60 solid;
}

.bordear_tabla tr th{
	text-align:center;
	vertical-align:top;
}
.bordear_tabla #aviso{
	padding:6px;
	border:2px #C60 solid;
}
/*.bordear_tabla { border-top:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; }*/
.bordear_tabla th, .bordear_tabla td { border-bottom: 1px solid #CCC; white-space: nowrap; vertical-align:middle }

/* Tablas con listas*/
.bordear_tabla tr th a, hr{
	color:#FFF
}
.bordear_tabla td{
	vertical-align:top;
	text-align:left
}